main{
    min-height: 36vh;   
    margin-bottom: 2rem;
}

header, footer{
    background-color: #C08261;
    color: #F2ECBE;
}

body{
    background-color: #E2C799;
}

.btn, .active{
    background-color: #9A3B3B;
}

.nav-link, .nav-link:hover{
    color: #F2ECBE;
}

.nav-pills .nav-link.active{
    color: #F2ECBE;
    background-color: #9A3B3B;
}

.custom-btn, .custom-btn:hover{
    background-color: #9A3B3B;
    color: #F2ECBE;
    border: 1px solid #9A3B3B;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.logo{
    color: #F2ECBE;
    font-family: "Cormorant", serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.card{
    background-color: #faf6d5;
    flex: 1 0 auto;
    font-style: italic;
}


.home-card{
    border-radius: 50px;
    border: 1px solid #C08261;
}

h2, h6{
    font-style: normal;
}

.icon-link{
    color: #9A3B3B;
    text-decoration-color: #9A3B3B;
}

.see-more{
    display: flex;
    align-self: end;
}

h1{
    font-family: "Cormorant", serif;
    font-weight: 700;
    font-size: 5rem;
}

h2{
    font-family: "Cormorant", serif;
    font-weight: 700;
    font-size: 2rem;
}

body, input, select{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}